webservices/dotnet/Wybecom.TalkPortal/Wybecom.TalkPortal.Cisco/Query.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.9.2074 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- login query DTD -->
  <xs:element name="query" type="queryType" />
  <xs:complexType name="queryType">
    <xs:sequence>
      <xs:element name="appInfo" type="appInfoType" />
      <xs:choice>
        <xs:element name="deviceUserQuery" type="deviceUserQueryType" />
        <xs:element name="userDevicesQuery" type="userDevicesQueryType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="appInfo" type="appInfoType" />
  <xs:complexType name="appInfoType">
    <xs:sequence>
      <xs:element name="appID" type="appIDType" />
      <xs:element name="appCertificate" type="appCertificateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="appID" type="appIDType" />
  <xs:complexType name="appIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="appCertificate" type="appCertificateType" />
  <xs:complexType name="appCertificateType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="deviceUserQuery" type="deviceUserQueryType" />
  <xs:complexType name="deviceUserQueryType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="deviceName" type="deviceNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userDevicesQuery" type="userDevicesQueryType" />
  <xs:complexType name="userDevicesQueryType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="userID" type="userIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deviceName" type="deviceNameType" />
  <xs:complexType name="deviceNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="userID" type="userIDType" />
  <xs:complexType name="userIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>