webservices/dotnet/Wybecom.TalkPortal/Wybecom.TalkPortal.Cisco/Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.9.2074 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- login requests DTD -->
  <xs:element name="request" type="requestType" />
  <xs:complexType name="requestType">
    <xs:sequence>
      <xs:element name="appInfo" type="appInfoType" />
      <xs:choice>
        <xs:element name="login" type="loginType" />
        <xs:element name="logout" type="logoutType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="appInfo" type="appInfoType" />
  <xs:complexType name="appInfoType">
    <xs:sequence>
      <xs:element name="appID" type="appIDType" />
      <xs:element name="appCertificate" type="appCertificateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="appID" type="appIDType" />
  <xs:complexType name="appIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="appCertificate" type="appCertificateType" />
  <xs:complexType name="appCertificateType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="login" type="loginType" />
  <xs:complexType name="loginType">
    <xs:sequence>
      <xs:element name="deviceName" type="deviceNameType" />
      <xs:element name="userID" type="userIDType" />
      <xs:element minOccurs="0" name="deviceProfile" type="deviceProfileType" />
      <xs:element minOccurs="0" name="exclusiveDuration" type="exclusiveDurationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="logout" type="logoutType" />
  <xs:complexType name="logoutType">
    <xs:sequence>
      <xs:element name="deviceName" type="deviceNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deviceName" type="deviceNameType" />
  <xs:complexType name="deviceNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="userID" type="userIDType" />
  <xs:complexType name="userIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="deviceProfile" type="deviceProfileType" />
  <xs:complexType name="deviceProfileType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="exclusiveDuration" type="exclusiveDurationType" />
  <xs:complexType name="exclusiveDurationType">
    <xs:choice>
      <xs:element name="time" type="timeType" />
      <xs:element name="indefinite" type="indefiniteType" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="time" type="timeType" />
  <xs:complexType name="timeType">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="indefinite" type="indefiniteType" />
  <xs:complexType name="indefiniteType" />
</xs:schema>