connectors/java/JTAPIConnector/StateServerProxy/src/META-INF/wsdl/StateServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wybecom.org/talkportal/cti/stateserver" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wybecom.org/talkportal/cti/stateserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wybecom.org/talkportal/cti/stateserver">
      <s:element name="SetLineControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lc" type="tns:LineControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LineControl">
        <s:complexContent mixed="false">
          <s:extension base="tns:LineStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="lineControlConnection" type="tns:ArrayOfLineControlConnection" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LineStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="directoryNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="forward" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doNotDisturb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mwiOn" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="available" />
          <s:enumeration value="donotdisturb" />
          <s:enumeration value="forwarded" />
          <s:enumeration value="busy" />
          <s:enumeration value="hidden" />
          <s:enumeration value="dialing" />
          <s:enumeration value="ringing" />
          <s:enumeration value="inactive" />
          <s:enumeration value="unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLineControlConnection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineControlConnection" nillable="true" type="tns:LineControlConnection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineControlConnection">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="terminalState" type="tns:TerminalState" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:ConnectionState" />
          <s:element minOccurs="1" maxOccurs="1" name="remoteState" type="tns:ConnectionState" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TerminalState">
        <s:restriction base="s:string">
          <s:enumeration value="idle" />
          <s:enumeration value="ringing" />
          <s:enumeration value="talking" />
          <s:enumeration value="held" />
          <s:enumeration value="bridged" />
          <s:enumeration value="inuse" />
          <s:enumeration value="dropped" />
          <s:enumeration value="unknown" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ConnectionState">
        <s:restriction base="s:string">
          <s:enumeration value="unknown" />
          <s:enumeration value="idle" />
          <s:enumeration value="failed" />
          <s:enumeration value="disconnected" />
          <s:enumeration value="established" />
          <s:enumeration value="alerting" />
          <s:enumeration value="offered" />
          <s:enumeration value="queued" />
          <s:enumeration value="network_reached" />
          <s:enumeration value="network_alerting" />
          <s:enumeration value="initiated" />
          <s:enumeration value="dialing" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetLineControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetLineControlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAgentLineControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:AgentState" />
            <s:element minOccurs="0" maxOccurs="1" name="ccc" type="tns:CallCenterCall" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AgentState">
        <s:restriction base="s:string">
          <s:enumeration value="BUSY" />
          <s:enumeration value="LOG_IN" />
          <s:enumeration value="LOG_OUT" />
          <s:enumeration value="NOT_READY" />
          <s:enumeration value="READY" />
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="WORK_NOT_READY" />
          <s:enumeration value="WORK_READY" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CallCenterCall">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="caller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="applicationData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastredirectnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callvariables" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetAgentLineControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAgentLineControlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCallLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="call" type="tns:Call" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Call">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="caller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:CallType" />
          <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CallType">
        <s:restriction base="s:string">
          <s:enumeration value="missed" />
          <s:enumeration value="placed" />
          <s:enumeration value="received" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddCallLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCallLogsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetLineControlSoapIn">
    <wsdl:part name="parameters" element="tns:SetLineControl" />
  </wsdl:message>
  <wsdl:message name="SetLineControlSoapOut">
    <wsdl:part name="parameters" element="tns:SetLineControlResponse" />
  </wsdl:message>
  <wsdl:message name="SetAgentLineControlSoapIn">
    <wsdl:part name="parameters" element="tns:SetAgentLineControl" />
  </wsdl:message>
  <wsdl:message name="SetAgentLineControlSoapOut">
    <wsdl:part name="parameters" element="tns:SetAgentLineControlResponse" />
  </wsdl:message>
  <wsdl:message name="AddCallLogsSoapIn">
    <wsdl:part name="parameters" element="tns:AddCallLogs" />
  </wsdl:message>
  <wsdl:message name="AddCallLogsSoapOut">
    <wsdl:part name="parameters" element="tns:AddCallLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="StateServerSoap">
    <wsdl:operation name="SetLineControl">
      <wsdl:input message="tns:SetLineControlSoapIn" />
      <wsdl:output message="tns:SetLineControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAgentLineControl">
      <wsdl:input message="tns:SetAgentLineControlSoapIn" />
      <wsdl:output message="tns:SetAgentLineControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCallLogs">
      <wsdl:input message="tns:AddCallLogsSoapIn" />
      <wsdl:output message="tns:AddCallLogsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StateServerHttpGet" />
  <wsdl:portType name="StateServerHttpPost" />
  <wsdl:binding name="StateServerSoap" type="tns:StateServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLineControl">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/SetLineControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgentLineControl">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/SetAgentLineControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCallLogs">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/AddCallLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StateServerSoap12" type="tns:StateServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLineControl">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/SetLineControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgentLineControl">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/SetAgentLineControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCallLogs">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/stateserver/AddCallLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StateServerHttpGet" type="tns:StateServerHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="StateServerHttpPost" type="tns:StateServerHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="StateServer">
    <wsdl:port name="StateServerSoap" binding="tns:StateServerSoap">
      <soap:address location="http://localhost/CTIWebServices/StateServer.asmx" />
    </wsdl:port>
    <wsdl:port name="StateServerSoap12" binding="tns:StateServerSoap12">
      <soap12:address location="http://localhost/CTIWebServices/StateServer.asmx" />
    </wsdl:port>
    <wsdl:port name="StateServerHttpGet" binding="tns:StateServerHttpGet">
      <http:address location="http://localhost/CTIWebServices/StateServer.asmx" />
    </wsdl:port>
    <wsdl:port name="StateServerHttpPost" binding="tns:StateServerHttpPost">
      <http:address location="http://localhost/CTIWebServices/StateServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>