webservices/dotnet/Wybecom.TalkPortal/Wybecom.TalkPortal.Cisco.IPPhone/CiscoIPPhone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Kelly Stearns (Cisco Systems, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.3.4">
	<xsd:complexType name="CiscoIPPhoneExecuteItemType">
		<xsd:attribute name="Priority" type="xsd:unsignedByte" use="optional"/>
		<xsd:attribute name="URL" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="256"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneExecuteType">
		<xsd:sequence>
			<xsd:element name="ExecuteItem" type="CiscoIPPhoneExecuteItemType" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneResponseItemType">
		<xsd:sequence>
			<xsd:element name="Status" type="xsd:short"/>
			<xsd:element name="Data">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPhoneResponseType">
		<xsd:sequence>
			<xsd:element name="ResponseItem" type="CiscoIPPhoneResponseItemType" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneTextType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Text">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SoftKey" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneInputItemType">
		<xsd:sequence>
			<xsd:element name="DisplayName" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QueryStringParam" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="InputFlags" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DefaultValue" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CicsoIPPhoneInputType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="InputItem" type="CiscoIPPhoneInputItemType" maxOccurs="5"/>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneGraphicMenuType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationX" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationY" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Width">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Height">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Depth">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Data">
				<xsd:simpleType>
					<xsd:restriction base="xsd:hexBinary">
						<xsd:maxLength value="2200"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="12"/>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneGraphicFileMenuType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationX" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationY" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
			<xsd:element name="MenuItem" type="CiscoIPPhoneTouchAreaMenuItemType" minOccurs="0" maxOccurs="32"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneTouchAreaMenuItemType">
		<xsd:sequence>
			<xsd:element name="Name" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TouchArea" type="CiscoIPPhoneTouchArea"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneTouchArea">
		<xsd:attribute name="X1" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="Y1" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="X2" type="xsd:unsignedShort" use="required"/>
		<xsd:attribute name="Y2" type="xsd:unsignedShort" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneDirectoryEntryType">
		<xsd:sequence>
			<xsd:element name="Name" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telephone" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneDirectoryType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DirectoryEntry" type="CiscoIPPhoneDirectoryEntryType" maxOccurs="32"/>
			<xsd:element name="SoftKey" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneMenuItemType">
		<xsd:sequence>
			<xsd:element name="Name" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneIconItemType">
		<xsd:sequence>
			<xsd:element name="Index">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Width" type="xsd:unsignedShort"/>
			<xsd:element name="Height" type="xsd:unsignedShort"/>
			<xsd:element name="Depth">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Data">
				<xsd:simpleType>
					<xsd:restriction base="xsd:hexBinary">
						<xsd:maxLength value="25"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneIconMenuItemType">
		<xsd:sequence>
			<xsd:element name="Name" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IconIndex">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneSoftKeyType">
		<xsd:sequence>
			<xsd:element name="Name" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postion" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URLDown" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneMenuType">
		<xsd:sequence>
			<xsd:element name="Title" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="100"/>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneImageType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationX" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationY" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Width" type="xsd:unsignedShort"/>
			<xsd:element name="Height" type="xsd:unsignedShort"/>
			<xsd:element name="Depth" type="xsd:unsignedShort"/>
			<xsd:element name="Data">
				<xsd:simpleType>
					<xsd:restriction base="xsd:hexBinary">
						<xsd:maxLength value="2200"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneImageFileType">
		<xsd:sequence>
			<xsd:element name="Title" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationX" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationY" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneIconMenuType">
		<xsd:sequence>
			<xsd:element name="Title" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prompt" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MenuItem" type="CiscoIPPhoneIconMenuItemType" minOccurs="0" maxOccurs="100"/>
			<xsd:element name="IconItem" type="CiscoIPPhoneIconItemType" minOccurs="0" maxOccurs="10"/>
			<xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="16"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CiscoIPPhoneStatusType">
		<xsd:sequence>
			<xsd:element name="Text" nillable="true" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Timer" type="xsd:unsignedShort" nillable="false" minOccurs="0"/>
			<xsd:element name="LocationX" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocationY" nillable="false" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="-1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Width" type="xsd:unsignedShort" nillable="false"/>
			<xsd:element name="Height" type="xsd:unsignedShort" nillable="false"/>
			<xsd:element name="Depth" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Data" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:hexBinary">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CiscoIPPhoneMenu" type="CiscoIPPhoneMenuType"/>
	<xsd:element name="CiscoIPPhoneImage" type="CiscoIPPhoneImageType"/>
	<xsd:element name="CiscoIPPhoneImageFile" type="CiscoIPPhoneImageFileType"/>
	<xsd:element name="CiscoIPPhoneIconMenu" type="CiscoIPPhoneIconMenuType"/>
	<xsd:element name="CiscoIPPhoneDirectory" type="CiscoIPPhoneDirectoryType"/>
	<xsd:element name="CiscoIPPhoneGraphicMenu" type="CiscoIPPhoneGraphicMenuType"/>
	<xsd:element name="CiscoIPPhoneGraphicFileMenu" type="CiscoIPPhoneGraphicFileMenuType"/>
	<xsd:element name="CiscoIPPhoneInput" type="CicsoIPPhoneInputType"/>
	<xsd:element name="CiscoIPPhoneText" type="CiscoIPPhoneTextType"/>
	<xsd:element name="CiscoIPPhoneExecute" type="CiscoIPPhoneExecuteType"/>
	<xsd:element name="CiscoIPPhoneResponse" type="CiscoIPhoneResponseType"/>
	<xsd:element name="CiscoIPPhoneError">
		<xsd:complexType>
			<xsd:attribute name="Number" type="xsd:unsignedShort" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CiscoIPPhoneStatus" type="CiscoIPPhoneStatusType"/>
</xsd:schema>
