webservices/dotnet/Wybecom.TalkPortal/Wybecom.TalkPortal.CTI.Proxy/LineControlServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wybecom.org/talkportal/cti/linecontrolserver" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wybecom.org/talkportal/cti/linecontrolserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wybecom.org/talkportal/cti/linecontrolserver">
      <s:element name="GetLineControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lc" type="tns:LineControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LineControl">
        <s:complexContent mixed="false">
          <s:extension base="tns:LineStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="lineControlConnection" type="tns:ArrayOfLineControlConnection" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LineStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="directoryNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="forward" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doNotDisturb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mwiOn" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="monitored" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="available" />
          <s:enumeration value="donotdisturb" />
          <s:enumeration value="forwarded" />
          <s:enumeration value="busy" />
          <s:enumeration value="hidden" />
          <s:enumeration value="dialing" />
          <s:enumeration value="ringing" />
          <s:enumeration value="inactive" />
          <s:enumeration value="unknown" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLineControlConnection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineControlConnection" nillable="true" type="tns:LineControlConnection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineControlConnection">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="terminalState" type="tns:TerminalState" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:ConnectionState" />
          <s:element minOccurs="1" maxOccurs="1" name="remoteState" type="tns:ConnectionState" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TerminalState">
        <s:restriction base="s:string">
          <s:enumeration value="idle" />
          <s:enumeration value="ringing" />
          <s:enumeration value="talking" />
          <s:enumeration value="held" />
          <s:enumeration value="bridged" />
          <s:enumeration value="inuse" />
          <s:enumeration value="dropped" />
          <s:enumeration value="unknown" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ConnectionState">
        <s:restriction base="s:string">
          <s:enumeration value="unknown" />
          <s:enumeration value="idle" />
          <s:enumeration value="failed" />
          <s:enumeration value="disconnected" />
          <s:enumeration value="established" />
          <s:enumeration value="alerting" />
          <s:enumeration value="offered" />
          <s:enumeration value="queued" />
          <s:enumeration value="network_reached" />
          <s:enumeration value="network_alerting" />
          <s:enumeration value="initiated" />
          <s:enumeration value="dialing" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLineControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLineControlResult" type="tns:LineControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinesStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lines" type="tns:ArrayOfLineStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLineStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineStatus" nillable="true" type="tns:LineStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLinesStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinesStatusResult" type="tns:ArrayOfLineStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgentLineControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ag" type="tns:AgentLineControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AgentLineControl">
        <s:complexContent mixed="false">
          <s:extension base="tns:LineControl">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="agentid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="callcentercall" type="tns:CallCenterCall" />
              <s:element minOccurs="1" maxOccurs="1" name="agentstate" type="tns:AgentState" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CallCenterCall">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="caller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="applicationData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastredirectnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callvariables" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AgentState">
        <s:restriction base="s:string">
          <s:enumeration value="BUSY" />
          <s:enumeration value="LOG_IN" />
          <s:enumeration value="LOG_OUT" />
          <s:enumeration value="NOT_READY" />
          <s:enumeration value="READY" />
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="WORK_NOT_READY" />
          <s:enumeration value="WORK_READY" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAgentLineControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgentLineControlResult" type="tns:AgentLineControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLineControlSoapIn">
    <wsdl:part name="parameters" element="tns:GetLineControl" />
  </wsdl:message>
  <wsdl:message name="GetLineControlSoapOut">
    <wsdl:part name="parameters" element="tns:GetLineControlResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinesStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinesStatus" />
  </wsdl:message>
  <wsdl:message name="GetLinesStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinesStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgentLineControlSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgentLineControl" />
  </wsdl:message>
  <wsdl:message name="GetAgentLineControlSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgentLineControlResponse" />
  </wsdl:message>
  <wsdl:portType name="LineControlServerSoap">
    <wsdl:operation name="GetLineControl">
      <wsdl:input message="tns:GetLineControlSoapIn" />
      <wsdl:output message="tns:GetLineControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinesStatus">
      <wsdl:input message="tns:GetLinesStatusSoapIn" />
      <wsdl:output message="tns:GetLinesStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentLineControl">
      <wsdl:input message="tns:GetAgentLineControlSoapIn" />
      <wsdl:output message="tns:GetAgentLineControlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LineControlServerHttpGet" />
  <wsdl:portType name="LineControlServerHttpPost" />
  <wsdl:binding name="LineControlServerSoap" type="tns:LineControlServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLineControl">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetLineControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinesStatus">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetLinesStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentLineControl">
      <soap:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetAgentLineControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LineControlServerSoap12" type="tns:LineControlServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLineControl">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetLineControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinesStatus">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetLinesStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentLineControl">
      <soap12:operation soapAction="http://wybecom.org/talkportal/cti/linecontrolserver/GetAgentLineControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LineControlServerHttpGet" type="tns:LineControlServerHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="LineControlServerHttpPost" type="tns:LineControlServerHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="LineControlServer">
    <wsdl:port name="LineControlServerSoap" binding="tns:LineControlServerSoap">
      <soap:address location="http://localhost/CTIWebServices/LineControlServer.asmx" />
    </wsdl:port>
    <wsdl:port name="LineControlServerSoap12" binding="tns:LineControlServerSoap12">
      <soap12:address location="http://localhost/CTIWebServices/LineControlServer.asmx" />
    </wsdl:port>
    <wsdl:port name="LineControlServerHttpGet" binding="tns:LineControlServerHttpGet">
      <http:address location="http://localhost/CTIWebServices/LineControlServer.asmx" />
    </wsdl:port>
    <wsdl:port name="LineControlServerHttpPost" binding="tns:LineControlServerHttpPost">
      <http:address location="http://localhost/CTIWebServices/LineControlServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>